body {
  background-color: gray;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
}

.filter-container {
  text-align: center;
}

.ep-section:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ep-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px;
}

.ep-section {
  margin: 10px;
  border: solid 1px white;
  border-radius: 10px;
  text-align: center;
  background-color: coral;
}

.ep-img {
  border: solid 1px black;
  border-radius: 10px;
}

.ep-section img,
.ep-section p {
  padding: 10px;
}

.ep-title {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 0;
  background-color: lightblue;
}

.ep-section p {
  text-align: left;
}

footer {
  background-color: orange;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
